# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Codegym\Bai-Tap\Code\Module-2\M2 - Week-1\thuchanh-toantu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/
out
*.iml